.bsg
    h1.bsg_title BOX Shadow Generator
    .section.bsg_section
        .card 
            .card-header Settings
            .card-body
                +card-section('Offset X', '2', 'px')
                    input#bsg_range-offset-X(type="range", name="", min="-20", max="20", step="1", value="2").range
                +card-section('Offset Y', '2', 'px')
                    input#bsg_range-offset-Y(type="range", name="", min="-20", max="20", step="1", value="2").range
                +card-section('Blur', '4', 'px')
                    input#bsg_range-blur(type="range", name="", min="0", max="20", step="1", value="4").range
                +card-section('Spread', '4', 'px')
                    input#bsg_range-spread(type="range", name="", min="-20", max="20", step="1", value="0").range
                +card-section('Color', '#005CC8', '')(class="colorpick-card-secton")
                    input#bsg_colorpick(type="color", value="#005CC8").colorpick
                +card-section('Opacity', '1', '')
                    input#bsg_range-opacity(type="range", name="", min="0", max="1", step="0.01", value="1").range
        .card 
            .card-header Result
            .card-body
                +card-section('CSS code with HEX', '', '')
                    textarea#bsg_resulthex(name="resulthex",rows="6", readonly) 
                +card-section('CSS code with RGB', '', '')
                    textarea#bsg_resultrgb(name="resultrdb",rows="6", readonly) 
script(type="module", src="src/components/box-shadow-generator/box-shadow-generator.js")