//- pug src/index.pug ../index.html -w -P
doctype html
html(lang="en")
  head
    title Text Shadow Generator
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style 
      include src/styles/main.css
    script(type="module", src="src/scripts/jquery-3.7.1.min.js") 
    script(type="module", src="src/scripts/main.js") 
    //- script(type="module", src="src/components/text-shadow-generator/text-shadow-generator.js") 
  body
    .container
        button#btn_mode(mode="day") Day mode
        select#select_generator(name="")
          option(value="tsg") Text shadow generator
          option(value="bsg") Box shadow generator
          option(value="gg", selected) Gradient generator
        include src/components/text-shadow-generator/text-shadow-generator
        include src/components/box-shadow-generator/box-shadow-generator
        include src/components/gradient-generator/gradient-generator
