//- pug src/index.pug ../index.html -w -P
doctype html
html(lang="en")
  head
    title Text Shadow Generator
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style 
      include src/styles/main.css
    script(type="module", src="src/scripts/jquery-3.7.1.min.js") 
    script(type="module", src="src/scripts/main.js") 
    //- script(type="module", src="src/components/text-shadow-generator/text-shadow-generator.js") 
  body
    .container
        button#btn_mode.btn.btn-main(mode="day") Day mode
        button#btn_burger.btn.btn-main
          span
        nav 
          ul 
            li
              button#btn_generator-tsg.btn.btn-main.active Text shadow generator
            li
              button#btn_generator-bsg.btn.btn-main Box shadow generator
            li
              button#btn_generator-gg.btn.btn-main Gradient shadow generator
        //- select#select_generator(name="")
        //-   option(value="tsg") Text shadow<br>generator
        //-   option(value="bsg", selected) Box shadow<br>generator
        //-   option(value="gg") Gradient<br>generator
        include src/components/text-shadow-generator/text-shadow-generator
        include src/components/box-shadow-generator/box-shadow-generator
        include src/components/gradient-generator/gradient-generator
