//- pug src/index.pug ../index.html -w -P
doctype html
html(lang="en")
  head
    title Text Shadow Generator
    style 
      include src/styles/main.css
    script(type="module", src="src/scripts/jquery-3.7.1.min.js") 
    script(type="module", src="src/scripts/main.js") 
    //- script(type="module", src="src/components/text-shadow-generator/text-shadow-generator.js") 
  body
    .container
        button#mode-btn(mode="day") Day mode
        include src/components/text-shadow-generator/text-shadow-generator
