body {
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
}
.container {
  width: 90%;
  max-width: 1400px;
  text-align: center;
  margin: auto;
}
h1 {
  margin: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 40px;
  line-height: 150%;
  border-radius: 2rem;
  margin: 3rem auto;
  padding: 1rem 3rem;
  word-wrap: break-word;
}
.bsg, .gg{
display: none;
}
.tsg_title {
  text-shadow: 2px 2px 4px #005cc8ff;
}
.bsg_title {
  background-color: #ffffff;
}
.gg_title {
  background: linear-gradient(0deg, #ffffff 0%, #005cc8 100%);
}
h4 {
  padding: 0;
  margin: 0;
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.card {
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.card-header {
  background-color: #005cc8ff;
  padding: 1.5rem;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}
.card-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.range {
  width: 90%;
  margin: auto;
  appearance: none;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
.card-section {
  padding: 1rem;
  width: 100%;
}
.card-section-body {
  display: grid;
  grid-template-columns: 90% 10%;
  justify-items: end;
  padding: 0.5rem;
}

textarea {
  width: 100%;
  margin: auto;
  height: auto;
  outline: none;
  line-height: 150%;
  resize: none;
  font: 500 16px Arial;
  color: #757575;
  font-family: monospace;
  grid-column: span 2;
}
.colorpick {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
  height: 5rem;
}
.colorpick-card-secton .card-section-body {
  justify-items: center;
  grid-template-columns: 1fr;
  align-items: center;
  text-transform: uppercase;
}

.btn-section .card-section-body {
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.radio-section .card-section-body {
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.radio {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
.gg_label {
  display: flex;
  align-items: center;
}
.btn {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  text-align: center;
  justify-self: center;
  background-color: #e0e0e0;
}
.btn:hover {
  background-color: #d4d4d4;
}
.btn:active {
  background-color: #f0f0f0;
}
.btn-main {
  position: relative;
  text-transform: uppercase;
  background-color: #005cc8ff;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn-main:hover {
  background-color: #3894fc;
}
.btn-main:active {
  background-color: #005cc8ff;
}
#btn_mode,
#btn_burger {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
#btn_mode {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
#btn_burger {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
#btn_burger span,
#btn_burger:before,
#btn_burger:after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  top:50%;
  border-radius: 3px;
  background-color: #fff;
  margin: 8px 0;
  transition: all 0.5s ease 0s;
}

#btn_burger.active:before {
  transform: rotate(45deg) translate(10px, 10px);
  transition: all 0.5s ease 0s;
}
#btn_burger.active:after {
  transform: rotate(-45deg) translate(10px, -10px);
  transition: all 0.5s ease 0s;
}
#btn_burger.active span {
  opacity: 0;
  transition: all 0.5s ease 0s;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
  padding: 0.5rem;
}
#btn_generator-tsg,
#btn_generator-bsg,
#btn_generator-gg {
  width: 100%;
}
#btn_generator-tsg.active,
#btn_generator-bsg.active,
#btn_generator-gg.active {
  background-color: #3894fc;
  font-size: 1.1rem;
}
#btn_generator-tsg:active,
#btn_generator-bsg:active,
#btn_generator-gg:active {
  background-color: #005cc8ff;
}

@media (max-width: 767px) {
  .card {
    flex: 1 1 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .card {
    flex: 1 1 calc((100% / 2) - 2rem);
  }
}
@media (min-width: 992px) {
  .card {
    flex: 1 1 calc((100% / 3) - 4rem);
  }
}

@media (max-width: 991px) {
  nav.active {
    overflow: hidden;
    opacity: 1;
    transform: scaleY(1);
    margin-top: 6rem;
    transition: all 0.5s ease 0s;
  }
  nav {
    opacity: 0;
    transform: scaleY(0.01);
    margin-top: -15rem;
    transition: all 0.5s ease 0s;
  }
}
@media (min-width: 992px) {
  li {
    width: 15rem;
  }
  ul {
    display: flex;
    justify-content: center;
  }
  nav {
    margin-top: 0;
    position: relative;
    left: 0;
    top: 0;
  }
  nav.active {
    overflow: hidden;
    opacity: 1;
    transform: scaleY(1);
    margin-top: 0;
    transition: all 0.5s ease 0s;
  }
  nav {
    opacity: 0;
    transform: scaleY(0.01);
    margin-top: -6rem;
    transition: all 0.5s ease 0s;
  }
}
