body {
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
}
.container {
  width: 90%;
  max-width: 1400px;
  text-align: center;
  margin: auto;
}
h1 {
  margin: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 40px;
  /* height: 100px; */
  line-height: 150%;
}
.bsg_title {
  background-color: #ffffff;
  border-radius: 2rem;
  width: max-content;
  font-size: 40px;
  margin: 3rem auto;
  padding: 1rem 3rem;
}
.gg_title {
  background: linear-gradient(0deg, #ffffff 0%, #005cc8 100%);
  border-radius: 2rem;
  font-size: 5vw;
  margin: 3rem auto;
  padding: 2rem 2rem;
}
h4 {
  padding: 0;
  margin: 0;
}
.section {
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  justify-content: center;
  gap: 2rem;
}
.card {
  background-color: #ffffff;
  border-radius: 1.5rem;
  /* display: grid;
  grid-template-rows: max-content 1fr; */
  /* border: 2px solid #005cc8ff; */
}
.card-header {
  background-color: #005cc8ff;
  padding: 1.5rem;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}
.card-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.range {
  width: 90%;
  margin: auto;
  appearance: none;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
.card-section {
  padding: 1rem;
  width: 100%;
}
.card-section-body {
  display: grid;
  grid-template-columns: 90% 10%;
  justify-items: end;
  padding: 0.5rem;
}

textarea {
  width: 100%;
  height: auto;
  outline: none;
  line-height: 150%;
  resize: none;
  font: 500 16px Arial;
  color: #757575;
  font-family: monospace;
  grid-column: span 2;
}
.colorpick {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
  height: 5rem;
}
.colorpick-card-secton .card-section-body {
  justify-items: center;
  grid-template-columns: 1fr;
  align-items: center;
  text-transform: uppercase;
}

.btn-section .card-section-body {
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.radio-section .card-section-body {
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.radio {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
.gg_label {
  display: flex;
  align-items: center;
}
.btn {
  border: none;
  outline: none;
  padding: 1rem;
  justify-self: center;
  border-radius: 1rem;
  background-color: #f0f0f0;
}
.btn:hover {
  background-color: #e6e6e6;
}
.btn:active {
  background-color: #f0f0f0;
}
#btn_mode {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #005cc8ff;
  color: white;
  font-weight: 600;
}
#btn_mode:hover {
  background-color: rgb(40, 140, 255);
}
#btn_mode:active {
  background-color: #005cc8ff;
}
select {
  appearance: none;
  position: absolute;
  width: min-content;
  left: 1rem;
  top: 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 2.5rem;
  border: none;
  outline: none;
  background-color: #005cc8ff;
  color: white;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 767px) {
  .card {
    flex: 1 1 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .card {
    flex: 1 1 calc((100% / 2) - 2rem);
    /* flex-basis: calc((100% / 2) - 2rem); */
  }
}
@media (min-width: 992px) {
  .card {
    flex: 1 1 calc((100% / 3) - 4rem);
    /* flex-basis: calc((100% / 3) - 4rem); */
  }
}
