.gg
    h1.gg_title Gradient Generator
    .section.gg_section
        .card.color-card 
            .card-header Color 1
            .card-body
                +card-section('Color', '#FFFFFF', '')(class="colorpick-card-secton")
                    input#gg_colorpick1(type="color", value="#FFFFFF").colorpick
                +card-section('Opacity', '1', '')
                    input#gg_range-opacity1(type="range", name="", min="0", max="1", step="0.01", value="1").range.range-opacity
                +card-section('Position', '0', '%')
                    input#gg_range-position1(type="range", name="", min="0", max="100", step="1", value="0").range.range-position
                +card-section('', '', '')(class="btn-section")
                    button.btn.add-btn#add-color1 Add Color
                    button.btn.delete-btn#delete-color1 Delete Color
        .card.color-card 
            .card-header Color 2
            .card-body
                +card-section('Color', '#005CC8', '')(class="colorpick-card-secton")
                    input#gg_colorpick2(type="color", value="#005CC8").colorpick
                +card-section('Opacity', '1', '')
                    input#gg_range-opacity2(type="range", name="", min="0", max="1", step="0.01", value="1").range.range-opacity
                +card-section('Position', '100', '%')
                    input#gg_range-position2(type="range", name="", min="0", max="100", step="1", value="100").range.range-position
                +card-section('', '', '')(class="btn-section")
                    button.btn.add-btn#add-color2 Add Color
                    button.btn.delete-btn#delete-color2 Delete Color
        .card.result-card 
            .card-header Result
            .card-body
                +card-section('Gradient Type', '', '')(class="radio-section")
                    label.gg_label
                        input(type="radio", value="linear-gradient", name="gg_radio_type", id="gg_radio_type1" checked).radio 
                        span Linear
                    label.gg_label
                        input(type="radio", value="radial-gradient", name="gg_radio_type", id="gg_radio_type2").radio 
                        span Radial
                +card-section('With position', '', '')(class="radio-section")
                    label.gg_label
                        input(type="radio", value="True", name="gg_radio_position", id="gg_radio_position1" checked).radio 
                        span Yes
                    label.gg_label
                        input(type="radio", value="False", name="gg_radio_position", id="gg_radio_position2").radio 
                        span No
                +card-section('Angle', '90', 'deg')(class="gg_angle")
                    input#gg_range-angle(type="range", name="", min="0", max="360", step="1", value="90").range
                +card-section('CSS code with HEX', '', '')
                    textarea#gg_resulthex(name="resulthex",rows="6", readonly) 
                +card-section('CSS code with RGB', '', '')
                    textarea#gg_resultrgb(name="resultrdb",rows="6", readonly) 
script(type="module", src="src/components/gradient-generator/gradient-generator.js")